<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-UltraLightItalic.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-LightItalic.ttf</string>
		<string>Gilroy-ThinItalic.ttf</string>
		<string>Gilroy-HeavyItalic.ttf</string>
		<string>Gilroy-BoldItalic.ttf</string>
		<string>Gilroy-SemiboldItalic.ttf</string>
		<string>Gilroy-RegularItalic.ttf</string>
		<string>Gilroy-BlackItalic.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-Extrabold.ttf</string>
		<string>Gilroy-MediumItalic.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-ExtraboldItalic.ttf</string>
		<string>Gilroy-Semibold.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
	</array>
	<key>Allows Arbitrary Loads</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
