<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Allows Arbitrary Loads</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GarageGo Data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.romanenko.garage.garageData</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-UltraLightItalic.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-LightItalic.ttf</string>
		<string>Gilroy-ThinItalic.ttf</string>
		<string>Gilroy-HeavyItalic.ttf</string>
		<string>Gilroy-BoldItalic.ttf</string>
		<string>Gilroy-SemiboldItalic.ttf</string>
		<string>Gilroy-RegularItalic.ttf</string>
		<string>Gilroy-BlackItalic.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-Extrabold.ttf</string>
		<string>Gilroy-MediumItalic.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-ExtraboldItalic.ttf</string>
		<string>Gilroy-Semibold.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GarageGo Data</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.romanenko.garage.garageData</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ggd</string>
					<string>GGD</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
